*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec_principal{
    display: flex;
    justify-content: center;
    width: 100%;
}

.div_pai{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.imagens{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4,1fr);
}


